.code-container {
    margin-top: 55px;
    margin-bottom: -5px;
    padding: 0 15px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

.code-container button {
    padding: 0;
}

.code-container hr {
    border: #efefef 1px solid;
    margin: 20px 0;
}

.code-instruction-code {
    margin: 15px 0 15px 0;
}

.code {
    background-color: #f7f7f7;
    padding: 15px;
    margin: 15px 0 0 0;
    font-size: 14px;
    line-height: 1.5em;
    overflow-wrap: break-word;
}

.code span {
    font-weight: bold;
}

.code-button-container {
    position: relative;
}