.form-container {
    background-color: #fff;
    padding: 5px 0 10px 0;
    position: relative;
    margin-bottom: 2em;
    opacity: 0;
}

.form-container.active {
    opacity: 1;
    transform: translate3d(0, 5px, 0);
    transition: all 250ms ease-in-out;
}

.form-container textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 20px 15px 5px 15px;
    resize: none;
    overflow: hidden;
    line-height: 1.5;
}

.form-container button {
    color: #0081ff;
    background-color: #fff;
    border: 0;
    font-size: 12px;
}

.form-container form {
    margin-top: 20px;
}

.form-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fafafa;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #363636;
    font-size: 13px;
}

.form-header ul {
    display: flex;
}

.form-header li {
    padding: 10px;
    border-bottom: 1px solid #e6e6e6;
    box-sizing: border-box;
}

.form-header li:hover {
    color: #0081ff;
}

.form-header li:first-child {
    width: 100px;
    text-align: center;
}

.form-header li:nth-child(2) {
    width: 100px;
    text-align: center;
}

.form-header li:first-child, 
.form-header li:nth-child(2) {
    cursor: pointer;
}

.form-header li:nth-child(3) {
    width: 100%;
}

.form-header li.active {
    background-color: #fff;
    color: #0081ff;
    border-bottom: 0;
}

.form-header li:first-child.active {
    border-right: 1px solid #e6e6e6;
    border-top-left-radius: 5px;
}

.form-header li:nth-child(2).active {
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
}
