.form-style {
    padding: 8px 15px;
    border-bottom: 1px solid #e6e6e6;
    font-family: 'Open Sans', sans-serif;
    color: #363636;
    display: flex;
    flex-wrap: wrap;
}

.form-style div {
    margin-top: 10px;
    position: relative;
}

.form-style select, 
.form-style input {
    padding: 2px;
    margin-right: 10px;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
}

.form-style input {
    width: 35px;
    padding: 3px;
}

.form-style select {
    width: 50px;
    border: 1px solid #eee;
}

select.font-select {
    width: auto;
}

.color-input-form {
    display: inline-block;
    border: 1px solid #eee;
    padding: 0 3px;
    transition: border 150ms ease-in-out;
}

.color-input-form.focused {
    border: 1px solid #0081ff;
    transition: border 150ms ease-in-out;
}

.color-input-form.error {
    border: 1px solid #ff0000;
    transition: border 150ms ease-in-out;
}

input.color-input {
    border: 0;
    padding-left: 1px;
    margin: 0;
    width: 45px;
}

.form-style i {
    font-size: 14px;
    margin-right: 5px;
    color: #363636;
}

.form-style i.fas.fa-underline:hover,
.form-style i.fas.fa-italic:hover {
    color: #0081ff;
    cursor: pointer;

}

.form-style i.fas.fa-underline {
    margin-right: 10px;
}

span.material-icons {
    font-size: 20px;
    line-height: 14px;
    position: absolute;
    top: 6px;
}

input.size-input {
    margin-left: 24px;
    border: 1px solid #eee;
    transition: border 150ms ease-in-out;
}

input.size-input.focused {
    border: 1px solid #0081ff;
    transition: border 150ms ease-in-out;
}

input.size-input.error {
    border: 1px solid #ff0000;
    transition: border 150ms ease-in-out;
}

.font-style-icon {
    position: absolute;
    top: 5px;
}

.cancel-save-btn {
    text-align: right;
    padding: 3px 0;
    margin-right: 15px;
}