.color-list {
    margin: 2em 0 0 0;
    background-color: #fff;
    padding: 10px;
    padding-top: 12px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.add-color {
    position: relative;
}

.add-color i.fas.fa-plus {
    color: #ddd;
    font-size: 30px;
    border-radius: 50%;
    border: 2px solid #ddd;
    padding: 20px;
    width: 74px;
    height: 74px;
    text-align: center;
    cursor: pointer;
    transition: all 250ms ease-in-out;
    box-sizing: border-box;
    margin: 10px;
}

.add-color i.fas.fa-plus:hover {
    color: #0081ff;
    border: 2px solid #0081ff;
    transition: all 250ms ease-in-out;
}