.style {
    background-color: #fff;
    margin-bottom: 2em;
    padding: 20px 15px;
    padding-top: 40px;
    position: relative;
}

.edit-delete-style {
    position: absolute;
    right: 15px;
    top: 12px;
}

.edit-delete-style button {
    color: #0081ff;
    background-color: #fff;
    border: 0;
    font-size: 12px;
}