.style {
    background-color: #fff;
    margin-bottom: 2em;
    padding: 30px 15px 20px 15px;
    position: relative;
    line-height: 1.5;
}

.edit-delete-style {
    position: absolute;
    right: 15px;
    bottom: 12px;
}

.edit-delete-style button {
    color: #0081ff;
    background-color: #fff;
    border: 0;
    font-size: 12px;
}

.style-label {
    color: #999;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 13px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: -5px;
}