.search {
    text-align: center;
    margin: auto;
}

.search input {
    padding: 6px 10px;
    padding-right: 8px;
    width: 300px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: border 250ms ease-in-out;
}

@media only screen and (max-width: 500px) {
  .search input {
    width: 220px;
  }
}