.search {
    width: 100%;
    text-align: center;
    margin: 2.5em auto 2.8em auto;
    position: sticky;
    top: 10px;
    z-index: 100;
}

.search input {
    padding: 8px 12px;
    padding-right: 8px;
    width: 25%;
    min-width: 300px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}