.top-nav-container {
    width: 100%;
    box-sizing: border-box;
    padding: 6px 15px;
    border-bottom: 1px solid #e6e6e6;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.01);
    background-color: #fafafa;
    position: fixed;
    z-index: 1;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.logo {
    color: #363636;
    font-family: 'Merriweather', serif;
    cursor: pointer;
    font-size: 17px;
    line-height: 36px;
    width: 130px;
}

.logo i {
    margin-right: 4px;
}

.icons {
    width: 130px;
}

.icons i {
    color: #363636;
    margin-left: 15px;
    font-size: 18px;
    line-height: 36px;
}

.icons i:hover {
    color: #0081ff;
}

.rainbow:hover {
    -webkit-animation:rainbow 1s infinite;
    -ms-animation:rainbow 1s infinite;
    -o-animation:rainbow 1s infinite;
    animation:rainbow 1s infinite;
}

@-webkit-keyframes rainbow {
    0% {color: #ff0000;}
    10% {color: #ff8000;}
    20% {color: #ffff00;}
    30% {color: #80ff00;}
    40% {color: #00ff00;}
    50% {color: #00ff80;}
    60% {color: #00ffff;}
    70% {color: #0080ff;}
    80% {color: #0000ff;}
    90% {color: #8000ff;}
    100% {color: #ff0080;}
}

@-ms-keyframes rainbow {
    0% {color: #ff0000;}
    10% {color: #ff8000;}
    20% {color: #ffff00;}
    30% {color: #80ff00;}
    40% {color: #00ff00;}
    50% {color: #00ff80;}
    60% {color: #00ffff;}
    70% {color: #0080ff;}
    80% {color: #0000ff;}
    90% {color: #8000ff;}
    100% {color: #ff0080;}
}

@-o-keyframes rainbow {
    0% {color: #ff0000;}
    10% {color: #ff8000;}
    20% {color: #ffff00;}
    30% {color: #80ff00;}
    40% {color: #00ff00;}
    50% {color: #00ff80;}
    60% {color: #00ffff;}
    70% {color: #0080ff;}
    80% {color: #0000ff;}
    90% {color: #8000ff;}
    100% {color: #ff0080;}
}

@keyframes rainbow {
    0% {color: #ff0000;}
    10% {color: #ff8000;}
    20% {color: #ffff00;}
    30% {color: #80ff00;}
    40% {color: #00ff00;}
    50% {color: #00ff80;}
    60% {color: #00ffff;}
    70% {color: #0080ff;}
    80% {color: #0000ff;}
    90% {color: #8000ff;}
    100% {color: #ff0080;}
}

@media only screen and (max-width: 700px) {
  .icons {
    display: none;
  }
}